/* container1 
 */

.site-footer {
    background-color: #f5f5f7;
    border-top: 5px solid #e3e3e9;
}

.site-footer .container {
    max-width: 1200px;
}

.container {
    max-width: 1224px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    margin: 0 auto;
}

.site-footer__logo {
    height: 60px;
}

.site-footer__logo img {
    height: 100%;
    width: auto;
}


img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

.site-footer__content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-footer__content>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.site-footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e3e3e9;
}


/* .contacts-card */

.contacts-card {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
}

.contacts-card__icon {
    width: 50px;
    height: 50px;
    background-color: #fa6400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.contacts-card__label,
.site-footer__meta,
.site-footer__meta h3 {
    font-size: 14px;
}

.contacts-card__label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

svg:not(:root) {
    overflow: hidden;
}

.contacts-card__icon svg {
    width: 100%;
    height: 100%;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.contacts-card__content {
    padding-left: 15px;
}

.contacts-card__title {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    color: #fa6400;
}

.contacts-card__title--phone {
    font-weight: 700;
    color: #fa6400;
    font-size: 20px;
}


/* grid */

.social-grid,
.social-grid__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-grid__item {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 17px 15px 13px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-grid,
.social-grid__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-grid__item svg {
    width: 100%;
    height: 100%;
}

*,
 :after,
 :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Địa chit liên hệ */

.grid .grid__column {
    padding: 10px;
}

.grid--four-columns>.grid__column {
    width: 25%;
}

.site-footer__label {
    margin-bottom: 15px;
}

.site-footer__label {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    min-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 28px;
}

.site-footer__infomations {
    font-size: 16px;
    max-width: 260px;
}

.site-footer__infomations {
    font-size: 14px;
}

.site-footer__comments .desc {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.site-footer__comments .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #fa6400;
    color: #fa6400;
    border-radius: 3px;
    height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}


/* truy cap nhanh */

.no-style {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.site-footer__page ul li a {
    font-size: 18px;
    font-weight: 400;
}

.site-footer__page ul li a {
    font-size: 14px;
}


/* cuối cùng */

.site-footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #e3e3e9;
    padding-top: 35px;
    padding-bottom: 30px;
}

.site-footer__bottom {
    padding-top: 25px;
    padding-bottom: 20px;
}